<h1>Correct Horse Battery Staple</h1>
<h2>
An <a href="https://xkcd.com/936" alt="link to XKCD on passphrases">XKCD 936</a> style password generator
</h2>


<div class="password">
    <input type="text" class="generated-password" id="generated-password" value="<%= generated_password(@wordlist) %>"/>
</div>
<button phx-click="generate-password">Generate</button>
