h1.password-page-header {
    font-size: 2.2rem;
    font-weight: bold;
}

.container {
    max-width: 80rem;
    background: white;
}
body {
    background: #fafafa;
}

input.generated-password {
    font-size: 18px;
    height: 4.5rem;
    width: 90%;
    float: left;
}

.copy-generated-password {
    height: 4.5rem;
    width: 10%;
    display: block;
    float: left;
    img {
        height: 100%;
    }
}


div.password {
    min-height: 5em;
}

input.password-range {
    width: 90%;
}

h1 {
    font-size: 4rem;
}

.hidden {
    display: none;
}

.decoration-details {
    input, label {
        float: left;
        height: 2em;
    }

    label {
        padding-right: 2rem;
        padding-left: 0.5rem;
    }
}